<a href="https://colab.research.google.com/github/jyoshitha1198/python/blob/main/module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##Create a function which accepts two inputs from the user and compute nCr

def nCr(a,b):
   return(fact(a)/(fact(b)
                 *fact(a-b)))
a=int(input(""))
b=int(input(""))
def fact(a):
    res=1
    for i in range(2,a+1):
      res =res*1
    return res
print(int(nCr(a,b)))

6
8
1

In [2]:
## Program to get the difference between the two lists

def Diff(li1, li2):
 return list(set(li1) - set(li2)) + list(set(li2) - set(li1))
li1 = [5, 10, 15, 20, 25, 30, 35]
li2 = [25, 30, 35]
print(Diff(li1, li2))

[10, 20, 5, 15]

In [37]:
###Program to find the second smallest number and second largest number in a list.

y=[2.4,6,8,10,12]
y.sort(reverse=True)
print(y[1],y[-3])

10 8

In [3]:
##Python program to create a list of tuples having first element as the number and second element as the square of the number 

list1 = [1, 2, 4, 5]  
res = [(val, pow(val, 2)) for val in list1]
print(res)

[(1, 1), (2, 4), (4, 16), (5, 25)]

In [4]:
##Given list of tuples, remove all the tuples with length K.

test_list = [(4, 5), (4, ), (8, 5, 7), (1, ), (3, 5, 6, 7)]
print("The original list : " + str(test_list)) 
K=1
res = [ele for ele in test_list if len(ele) != K]
print("Filtered list : " + str(res))

The original list : [(4, 5), (4,), (8, 5, 7), (1,), (3, 5, 6, 7)]
Filtered list : [(4, 5), (8, 5, 7), (3, 5, 6, 7)]

In [5]:
##Program to remove a key from a dictionary

myDict = {'a':2,'b':5,'c':6,'d':8}
print(myDict)
if 'a' in myDict: 
    del myDict['a']
print(myDict)

{'a': 2, 'b': 5, 'c': 6, 'd': 8}
{'b': 5, 'c': 6, 'd': 8}

In [16]:
###Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

n=int(input("enter a number "))
d = dict()
for x in range(1,n+1):
       d[x]=x*x
print(d)

enter a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [17]:
###Program to get the maximum and minimum value in a dictionary.

a={ 35,67,89,155,277,1999}
print(max(a),min(a))

1999 35

In [20]:
##Program to perform operations on string using unicodes ,splitting of string,accessing elements of string using locations

a="i am watching movie"
print(a.split())
print(a[2:4])

['i', 'am', 'watching', 'movie']
am

In [25]:
###Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements

p=" i am going out to watch movie with my friends"
print(p.count("g"))

2

In [31]:
###Program for replacing one substring by another

p="all the best"
print(p.replace("b" , "f"))

all the fest

In [45]:
### x Program to Acronym generator for any user input

import random
y= input("enter the command")
if "roll"==y:
  for x in range (7):
    y=random.randint(1,7)
    print(y)

enter the commandroll
4
3
7
7
1
7
1

In [48]:
##Sample List : ['abc', 'xyz', 'aba', '1221'] 
a=['abc','123','def','1999']
c=0
for x in a:
  if len(x)>=4:
    if x[0]==x[-2]:
        c=c+1
print(" the string of length 2 is",c)

 the string of length 2 is 0

In [51]:
###Program to print a specified list after removing the 0th, 4th and 5th elements
list=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] 
list.pop(0)
list.pop(4)
list.pop()
print(list)

['Green', 'White', 'Black']

In [64]:
###Python function that accepts a string and calculates the number of uppercase letters and lowercase letters.

def string(a):
    u=0;l=0
    for x in a :
       if x.isupper():
        u=u+1
    else:
        l=l+1
        print ("the lower values",1)
        print("the higher values",u)
string("jyoShitHa")

the lower values 1
the higher values 2